@import "./constants";

#header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background: $white;
    line-height: 50px;
    position: relative;
    z-index: 1;

    .header-content {
        margin: auto;
        padding-right: $header-padding;
        padding-left: $header-padding;
        text-align: right;
        height: 100%;
        position: relative;

        #login {
            margin-left: 5px;
        }

        img {
            float: left;
            margin-top: 8px;
            height: 34px;
        }
        @media (max-width: 550px) {
            > a:nth-child(2) {
                display: none!important;
            }
        }
        @media (min-width: 550px) {
            > a:nth-child(3) {
                display: none;
            }
        }
        @media (max-width: 360px) {
            > a:nth-child(3) {
                display: none;
            }
        }

        .btn {
            padding: 10px 20px;
        }
        .btn.transparent {
            padding: 8px 20px;
        }

        #user-menu {

            float: right;
            position: relative;

            > img {
                float: left;
                height: 40px;
                margin-top: 5px;
                cursor: pointer;
                border-radius: 1000000px;
            }

            .floating-menu {
                position: absolute;
                z-index: 1000;
                text-align: left;
                width: 135px;
                line-height: initial;
                padding: 0px;
                top: 50px;
                right: 2px;
                background: $light-grey;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

                .menu-item {
                    border-bottom: .5px solid lightgrey;
                    cursor: pointer;

                    a {
                        padding: 10px;
                        text-decoration: none;
                        color: $font-color;
                        display: block;
                        position: relative;
                    }
                    transition: background .3s;
                }
                .menu-item:hover {
                    background: lightgrey;
                }
                .menu-item:last-child {
                    border-bottom: none;
                }
            }

            .floating-menu:after {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 0 4px 5px;
                border-color: $light-grey transparent;
                display: block;
                width: 0;
                z-index: 1;
                top: -5px;
                left: 113px;
            }
        }

        .menu-button {
            float: left;
            width: 50px;
            text-align: center;
            i.fa {
                width: 34px;
                padding: 6px;
                margin-top: 7px;
                text-align: center;
                border-radius: 4px;
                color: #4998dc;
                font-size: 18px;
                cursor: pointer;
                border: 2px #4998dc solid;
            }
        }
        @media (max-width: 800px) {
            > .menu-wrapper {
                box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
                display: none;
                position: fixed;
                width: 100%;
                top: 50px;
                left: 0px;
                text-align: center;
                background: rgba(255, 255, 255, 0.95);
                > .menu-item {
                    display: block;
                    height: 50px;
                    color: $light-blue;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-bottom: 1px rgba(73, 152, 220, 0.4) solid;
                }
                > .menu-item:last-child {
                    border-bottom: none;
                }
            }
            > .menu-wrapper.opened {
                display: block;
            }
        }
        @media (min-width: 800px) {
            .menu-button {
                display: none;
            }
            > .menu-wrapper {
                display: inline-block;
                > .menu-item {
                    height: 50px;
                    display: inline-block;
                    padding-right: 16px;
                    padding-left: 16px;
                    color: $light-blue;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                > .menu-item.selected {
                    font-weight: bold;
                    border-bottom: 4px $light-blue solid;
                }
            }
        }

    }
    .header-content.logged {
        > a:nth-child(2) {
            display: block;
        }
        > a:nth-child(3) {
            display: none;
        }
        @media (max-width: 550px) {
            > a:nth-child(3) {
                display: block!important;
            }
        }
    }

}
