@import "./constants";

.post-page {
    .post-header {
        min-height: 80px;
        font-size: 24px;
        color: white;
        padding-top:26px;
        padding-bottom:26px;
        background: $light-blue;
        > div {
            padding-left: 23px;
            padding-right: 23px;
        }
    }
    .post-form {
        width: 100%;
        position: relative;
        display:block;
        padding-top: 16px;

        textarea {
            width: 100%;
            min-height: 100px;
            resize: none;
            margin-bottom: 16px;
        }

        .bottom-container {
            text-align: center;
            .char-counter {
                margin-bottom: 16px;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 50px;
        bottom:0px;
        right:0px;
        left:0px;
        width: 100%;
        background: rgba(0,0,0,0.7);

        img {
            width: 100px;
            right: 50px;
            position: absolute;
        }

        .text {
            color: white;
            font-size: 18px;
            position: absolute;
            right: 14Px;
            top: 114px;
        }
    }

    .blur {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
}
