@import "./constants";

#settings {

    position:relative;

    .beautiful-image {
        height:250px;
        background: url(http://static1.squarespace.com/static/52f0e42ae4b02fdbc094d5b6/t/534bcde9e4b0bf294b4ede03/1397476842828/photodune-1950305-gear-background-l+Low-Res.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }



    > div:nth-child(2) {
        margin-top: -100px;
    }
    @media (max-width: 900px) {
        .beautiful-image {
            display:none;
        }
        > div:nth-child(2) {
            margin-top: 15px;
        }
    }

    .settings-tile {
        position:relative;
        max-width:700px;
        margin:auto;
        padding: 15px;
        background: $white;
        margin-top: 15px;
        box-shadow: 0px 0px 5px rgb(60,60,60);

        .title {

            font-size: 18px;
            text-align:center;

            .fa {

            }

            .text {

            }
        }

        form {
            display:block;
            position:relative;
            width:100%;
            input {
                width: 100%;
                max-width: 400px;
                margin:auto;
                display:block;
                margin-bottom: 10px;
            }

            div.placeholder {
                width: 100%;
                max-width: 400px;
                margin:auto;
                display:block;
            }
        }
    }

}
