@import "./constants";

#settings {

    position:relative;

    .beautiful-image {
        height:250px;
        width: 100%;
        left: 0px;
        top: 50px;
        position: fixed;
        background: url(../img/engrenage.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color:$white;
        text-align:center;
        padding-top:20px;
        font-size: 24px;
    }

    .page-title {
        position:relative;
        text-align:center;
        color: $white;
        font-size: 24px;
        z-index:1;
        margin-top:15px;
        text-transform: uppercase;
    }

    @media (max-width: 600px) {
        .beautiful-image {
            display:none;
        }
        > div:nth-child(2) {
            margin-top: 15px;
        }
        .page-title {
            display:none;
        }
    }

    @media (min-width: 600px) {
        .settings-tile {
            min-height:291px;
            width:calc(50% - 30px);
            margin-right:15px!important;
            margin-left:15px!important;
            float:left;

            form {
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                position: absolute!important;
                width: calc(100% - 30px)!important;
            }
        }
    }
    .settings-tile {
        position:relative;
        margin:auto;
        padding: 15px;
        background: $white;
        margin-top: 15px;
        box-shadow: 0px 0px 5px rgb(60,60,60);

        .title {
            margin-bottom: 15px;
            font-size: 18px;
            text-align:center;

            .fa {

            }

            .text {

            }
        }

        .picture-form, form {
            display:block;
            position:relative;
            width:100%;
            input {
                width: 100%;
                max-width: 400px;
                margin:auto;
                display:block;
                margin-bottom: 10px;
            }

            div.placeholder {
                width: 100%;
                max-width: 400px;
                margin:auto;
                display:block;
            }
        }


        .profile-picture {
            margin-top:-140px;
            text-align:center;
            > img {
                border-radius:10000px;
            }

            .overlay {
                opacity:0;
                height: 130px;
                width: 130px;
                margin: auto;
                margin-top: -134px;
                border-radius:10000px;
                background: rgba(0,0,0,0.4);
                z-index:1;
                position:relative;
                line-height:130px;
                color: $white;
                font-size: 70px;
            }
        }
        input[type="file"]:hover + .profile-picture {
            .overlay {
                opacity:1;
            }
        }
        input[type="file"] {
            height:130px;
            width:130px;
            border-radius:10000px;
            opacity:0;
            z-index:2;
            position:relative;
            cursor:pointer;
        }

        .picture-form {
            input[type="submit"] { margin-top: 10px;}
        }
    }

    .delete-avatar {
        background: $action-color;
    }

    .delete-avatar:hover {
        background: red;
    }

}
