.uploadImagePage {
    position: relative;
    margin: auto;
    padding: 15px;
    background: #FFF;
    margin-top: 30px;
    box-shadow: 0 0 10px #bebebe;
    max-width: 500px;
    text-align: center;

    > span {
        font-size: 18px;
    }

    div{
        text-align: left;
        margin: 15px 0;

        img {
            max-width: 100%;
            max-height: 300px;
            width: 100%;
            height: inherit;
        }
    }

    .date-input{
        text-align:center;
        input {
            margin-bottom: 8px;
        }
        a{
            display:inline-block;
            margin-left: 10px;
        }
    }

    .error{
        color: red;
    }

    img {
        margin: auto;
        display: block;
    }
}



