@import "./constants";

.wall-posts{
    text-align: center;

    .date-picker{
        width: 100%;
        display: inline-block;
        margin-top: 25px;

        div{
            display: inline-block;
        }

        .date{
            width: 50%;
            font-size: 28px;
            vertical-align: top;
            margin: 0 15px;
        }

        .left-arrow, .right-arrow{
            margin-top: 2px;
            cursor: pointer;
        }

        .disabled{
            color: lightgrey;
            cursor: not-allowed;
        }
    }

    @media (max-width: 800px){
        .date{
            width: 70% !important;
            font-size: 22px !important;
        }

        .left-arrow, .right-arrow{
            font-size: 12px !important;
        }
    }

    @media (max-width: 520px){
        .date{
            font-size: 16px !important;
        }

        .left-arrow, .right-arrow{
            font-size: 9px !important;
        }
    }

    .no-post-item{
        margin-top: 15px;
    }
}


