@import "./constants";

.wall-gallery {

    .wall-header {
        min-height: 80px;
        font-size: 24px;
        color: white;
        padding-top:26px;
        padding-bottom:26px;
        background: $light-blue;
        > div {
            padding-left: 23px;
            padding-right: 23px;
        }
    }

    .pictures-container {

        .picture-item {
            position: relative;
            height: 200px;
            margin-top: 16px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center center !important;
            margin-right: 8px;
            margin-left: 8px;
            display:inline-block;
            cursor:pointer;
            box-shadow: 0px 0px 10px #bebebe;

            .date {
                position: absolute;
                bottom: 0px;
                padding: 16px;
                width: 100%;
                text-transform: capitalize;
                background: rgba(0,0,0,0.7);
                color: white;
                font-size: 16px;
            }
        }

        @media (max-width: 500px) {
            .picture-item {
                width: calc(100% - 16px);
            }
        }

        @media (min-width: 500px) and (max-width: 800px) {
            .picture-item {
                width: calc(50% - 16px);
            }
        }

        @media (min-width: 800px) and (max-width: 1100px){
            .picture-item {
                width: calc(33.3333% - 16px);
            }
        }

        @media (min-width: 1100px) {
            .picture-item {
                width: calc(25% - 16px);
            }
        }

    }

    #message-button {
        z-index: 2;
        position: fixed;
        bottom:15px;
        right: 15px;
        height:50px;
        width: 50px;
        line-height: 60px;
        background-color: $action-color;
        color: white;
        text-align:center;
        border-radius: 100000px;
        cursor:pointer;
        box-shadow: 0px 2px 4px grey;
    }
    #message-button.disabled {
        cursor: not-allowed;
        background: grey;
    }
    #message-button.not-user {
        display:none;
    }
    #message-speech-bubble.connect {
        line-height:inherit;
        padding-top:7px;
    }
    #message-speech-bubble {
        z-index:2;
        position: fixed;
        width: 195px;
        color: $white;
        height: 50px;
        padding: 0px;
        bottom:15px;
        right:70px;
        font-size:15px;
        text-transform:uppercase;
        line-height:50px;
        text-align:center;
        background: $dark-blue;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    #message-speech-bubble:after {
        z-index:2;
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent $dark-blue;
        display: block;
        width: 0;
        right: -5px;
        top: 20px;
    }

}
