@import "./constants";
.walls.pencil-cursor .leaflet-layer {
    cursor: url(../img/pencil-cursor.png) 0 100, auto;
}
.walls {
    .overlay {
        z-index: 2;
    }

    #walls-map {
        position:fixed;
        height: calc(100vh - 50px);
        top: 50px;
        width:100%;
        left:0px;

        a[href="http://leafletjs.com"] {
            display:none;
        }

    }

    #message-button {
        z-index: 2;
        position: fixed;
        bottom:15px;
        right: 15px;
        height:50px;
        width: 50px;
        line-height: 60px;
        background-color: $action-color;
        color: white;
        text-align:center;
        border-radius: 100000px;
        cursor:pointer;
        box-shadow: 0px 2px 4px grey;
    }
    #message-button.disabled {
        cursor: not-allowed;
        background: grey;
    }
    #message-button.not-user {
        display:none;
    }

    #message-speech-bubble.connect {
        line-height:inherit;
        padding-top:7px;
    }
    #message-speech-bubble {
        z-index:2;
        position: fixed;
        width: 195px;
        color: $white;
        height: 50px;
        padding: 0px;
        bottom:15px;
        right:70px;
        font-size:15px;
        text-transform:uppercase;
        line-height:50px;
        text-align:center;
        background: $dark-blue;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    #message-speech-bubble:after {
        z-index:2;
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent $dark-blue;
        display: block;
        width: 0;
        right: -5px;
        top: 20px;
    }

    #tooltip{
        z-index: 2;
        position: relative;
        width: 420px;
        color: #FFF;
        font-size: 14px;
        height: 60px;
        text-transform: uppercase;
        line-height: 25px;
        text-align: center;
        background: #2d3e51;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 15px auto;
        border-top: 2px solid #4998dc;
        border-bottom: 2px solid #4998dc;

        .icon, .text, .valid{
            display: inline-block;
            padding: 5px;
            top: -2px;
        }

        .icon{
            width: 50px;
            height: 60px;
            position: absolute;
            color: #4998dc;
            background: #FFF;
            border: 2px solid #4998dc;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-right: none;

            i{
                font-size: 50px;
            }
        }

        .text{
            width: calc(100% - 30px);
            margin-left: 30px;
        }

        .valid{
            width: 50px;
            height: 60px;
            line-height: 47px;
            position: absolute;
            right: -30px;
            color: #4998dc;
            background: #FFF;
            font-size: 24px;
            font-weight: 500;
            border: 2px solid #4998dc;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            border-left: none;
            cursor: pointer;
        }
    }

    @media (max-width: 540px){
        #tooltip{
            width: 210px;
            font-size: 12px;
            height: 60px;
            line-height: 16px;
            border: 2px solid #4998dc;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .text, .valid{
                padding: 5px;
                top: -2px;
            }

            .icon{
                display: none !important;
            }

            .text{
                margin-left: 0 !important;
                padding: 5px 0 !important;

                .saviez-vous{
                    display: none !important;
                }
            }

            .valid{
                position: relative;
                width: 210px;
                margin-left: -60px;
                height: 25px;
                line-height: 14px;
                font-size: 16px;
                border: 2px solid #4998dc;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.postModal{
    text-align: center;

    .title{
        width: 100%;
        height: 50px;
        background-color: $light-blue;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        color: $white;
    }

    textarea{
        margin: 15px 15px 0 15px;
        resize: none;
        width: calc(100% - 30px);
        height: 150px;
    }

    .btn{
        margin: 0 15px 15px 15px;
    }

    .error, .success{
        display: block;
        margin: 10px 0;
    }

    .error{
        color: red;
    }

    .success{
        color: green;
    }

    .auth-modal-close {
        width:40px;
        height:40px;
        text-align:center;
        line-height:35px;
        font-size:24px;
        background: $white;
        color: $light-blue;
        border-radius:10000px;
        cursor: pointer;
        position:absolute;
        z-index:1;
        right: -20px;
        top: -20px;
        border: 4px $light-blue-over solid;
    }

    .bottom-container {
        text-align: left;
        padding-left: 15px;
        height: 47px;
        line-height: 31px;

        input {
            float:right;
        }
        input[disabled] {
            background: grey !important;
            cursor: initial;
        }
    }
}


.choosing-modal{
    background-color: $white;
    height: 165px;

    .choosing-modal-choices {
        margin: 15px;
        max-height: 100px;
        display: inline-block;

        > a {
            margin-left: 15px;
            text-decoration: none;
            height:90px;
            width:96px;
            display:inline-block;
            position:relative;
            text-align:center;
            padding-top: 13px;
            background: $light-blue;
            color: $white;
            border-right:1px white solid;

            .icon {
                font-size:24px;
                margin-bottom:7px;
            }
            .title {

            }

            transition: background .3s;
        }

        > a:hover {
            background: $light-blue-over;
        }

        > a:first-child{
            margin-left: 0;
        }
    }

    .choosing-modal-cancel {
        background-color: $white;
        position:absolute;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;

        .btn {
            background: $action-color;
        }
        .btn:hover {
            background: $action-color;
        }
    }
}

@media (max-width: 370px) {
    .choosing-modal {
        height: initial;
        text-align: center;

        .choosing-modal-choices {
            width: 100%;
            margin: 0;
            max-height: none;

            a {
                padding: 4px;
                margin: 10px auto;
                width: 95%;
                height: 60px;
            }

            a:nth-child(2){
                margin: 0;
            }
        }
    }
}

.choosing-modal-title{
    display: block;
    color: $white;
    font-weight: 500;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: $light-blue;
}
