@import "./constants";

.wall-posts{
    text-align: center;

    .date-picker{
        display: inline-block;
        margin: 25px 0 0 15px;

        div{
            display: inline-block;
        }

        .date{
            font-size: 28px;
            vertical-align: top;
            margin: 0 15px;
        }

        .left-arrow, .right-arrow{
            margin-top: 2px;
            cursor: pointer;
        }

        .disabled{
            color: lightgrey;
            cursor: not-allowed;
        }
    }

    .post-item{
        text-align: left;
        width: 100%;
        height: 75px;
        position: relative;
        margin: 15px auto;
        background: $white;
        box-shadow: 0 0 10px #bebebe;

        img{
            margin: 12px;
        }

        .content{
            vertical-align: top;
            display: inline-block;

            > div{
                vertical-align: top;
            }

            .name, .time{
                display: inline-block;
            }

            .name{
                color: $light-blue-over;
                font-weight: 500;
                font-size: 16px;
                margin-top: 12px;
                vertical-align: top;
            }

            .time{
                margin: 14px 0 13px 10px;
            }

            .separator{
                width: 1px;
                height: calc(100% - 6px);
                margin: 3px 0 3px 12px;
                background-color: $light-grey;
            }
        }

        .close{
            display: inline-block;
            vertical-align: top;
            float: right;
            margin: 13px;
            cursor: pointer;
        }
    }
}


