<!-- Log in and Sign in top bar -->
<div class="top-bar">
    <a class="btn plain" ng-click="hc.openUserModal(1)">
        Inscription
    </a>
    <a class="btn transparent" ng-click="hc.openUserModal(0)">
        Connexion
    </a>
</div>

<!-- Container -->
<div class="container">
    <h1>
        Ne restez pas dans l'obscurité
        <span></span>
    </h1>
    <span>
        Venez vous exprimer, vous informer, débattre ...
    </span>
    <div class="search">
        <div>
            <input ng-model="ssc.searchQuery" type="text" placeholder="Recherche..."/>
        </div>
        <div rw-drop-down category="ssc.category"></div>
        <a class="btn plain" ng-click="ssc.search()">
            <i class="fa fa-search"></i> Recherche
        </a>
    </div>
</div>

<!-- add some opacity-->
<div class="add-opacity"></div>
<div class="add-opacity-overlay"></div>