#wall {
  .header {}

  .content {
    display:table;
    width:100%;
    > .left-col {
      display:table-cell;
      width:235px;
      background:red;
    }

    > .middle-col {
      background:blue;
      display:table-cell;

      .wall-picture {}

      .ranking {
        > div:nth-child(1) .rank {
          background-position-y: 20px;
          background:url(../img/rw-crown-gold.png);
          background-repeat: no-repeat;
          background-size: 70px 70px;
        }
        > div:nth-child(2) .rank {
          background:url(../img/rw-crown-silver.png);
          background-repeat: no-repeat;
          background-size: 70px 70px;
        }
        > div:nth-child(3) .rank {
          background:url(../img/rw-crown-bronze.png);
          background-repeat: no-repeat;
          background-size: 70px 70px;
        }
        > div {
          display:table;
          width:100%;
          border-bottom:2px black solid;

          .rank {
            background-color:$accent!important;
            display:table-cell;
            width:70px;
            height:70px;
            font-size:34px;
            text-align:center;
            line-height:70px;
            font-weight:bold;
          }

          .post-title {
            display:table-cell;
            padding-left:30px;
            background:green;
            font-size:24px;
            line-height:70px;
          }
        }

      }

    }
  }
}