<!--<rw-count-down
        max="60"
        remaining="wc.seconds"
        text-color="'red'"
        border-color="'green'"
        >
</rw-count-down>
<rw-count-down
        max="60"
        remaining="30"
        text-color="'red'"
        border-color="'green'"
        >
</rw-count-down>-->
<div id="wall">
    <div class="header">
        <div class="title">titre + logo mur + adresse</div>
        <div class="timer">evidence</div>
    </div>

    <div class="content">
        <div class="left-col">
            <div class="google-map">googlemap</div>
            <div class="ads">ads</div>
        </div>
        <div class="middle-col">
            <div class="wall-picture">PHOTO</div>

            <div class="ranking">
                <div ng-repeat="post in wc.posts | orderBy: '+rank' | unique: 'rank'">
                    <div class="rank">{{ post.rank }}</div>
                    <div class="post-title">{{ post.title }}</div>
                </div>
            </div>

            <div>LOAD MORE</div>
        </div>
    </div>
</div>