@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 100 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}

#wall {
  .header {}

  .content {

    background:red;

    > .left-col {
      float:left;
      width:25%;
    }

    > .middle-col {
      width:75%;
      float:left;
      background:blue;

      > div {
        display:block;
        width:100%;
      }
      .wall-picture {}

      $post-min-height: 100px;

      .ranking {

        background: rgb(230, 230, 230);
        position: relative;
        padding: 10px;
        padding-left:20px;
        padding-right:20px;

        > div {
          min-height:92px;
          border-bottom: 1px #BEBEBE solid;
          margin-bottom:10px;
          padding-bottom:10px;
        }

        > div:last-child {
          border-bottom:none;
        }

        .rank {
          z-index:2;
          position:absolute;
          float:left;
          padding-left:30px;

          > i.fa {
            float:left;
            left:2px;
            position:absolute;
            cursor:pointer;
          }
          > i:nth-child(2) {
            margin-top: 22px;
          }

          >.number {
            float:left;
            width:40px;
            height:40px;
            background: #BEBEBE;
            text-align:center;
            line-height:40px;
            font-size:20px;
            color:white;
            border-radius:5px;
            border-bottom:2px grey solid;
            font-family: 'Audiowide', cursive;
          }

          .actions {
            float:left;
            margin-left:-39px;
            margin-top:5px;
          }
          .btn {
            padding: 10px 11px;
          }
        }

        .post-title {
          padding-top:6px;
          width: 100%;
          position: relative;
          text-align: justify;
          padding-left:80px;
          min-height:40px;
          vertical-align:40px;
          font-size: 24px;
          color:#3285A7;
          cursor:pointer;
        }

        .post-title:hover {
          text-decoration: underline;
        }

        .post-info {
          padding-left:80px;
          padding-top:5px;
          color:#BEBEBE;
        }


      }

    }

  }

  .content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}