$navbarHeight: 50px;
$appPadding: 80px;

#main {

  .navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    height: $navbarHeight;
    padding-left: $appPadding;
    padding-right: $appPadding;

    background: $primary;

    .logo {
      width: 100px;
      float: left;
      height: 100%;
      color: $accent;
      line-height: $navbarHeight;
    }

    .search {
      width: 284px;
      float: right;

      input {
        width: 250px;
        float: right;
        height: 35px;
        border: 0px;
        border-radius: 2px;
        margin-top: 7.5px;
        color: #8c8c8c;
        font-size: 18px;
        font-weight: 300;
        padding: 0px 20px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }

      a.btn {
        float: right;
        padding: 6.5px 9px;
        margin-top: 8px;
        border-left: none;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      }
      a.btn:hover {
        color: $accent;
      }
    }
  }

  div[ui-view] {
    padding-top:$navbarHeight;
    padding-left: $appPadding;
    padding-right: $appPadding;
  }
}