<rw-dialog show="hc.showUserModal">
    <div class="close-modal" ng-click="hc.showUserModal = false"><i class="fa fa-times"></i></div>
    <div class="user-modal">
        <div>
            <div class="header">
                <div ng-click="hc.selectTab(0)" ng-class="{'selected': hc.modalSelectedIndex == 0}">
                    <div>
                        <i class="fa fa-lock"></i>
                    </div>
                    <div>
                        Connexion
                    </div>
                </div>
                <div ng-click="hc.selectTab(1)" ng-class="{'selected': hc.modalSelectedIndex == 1}">
                    <div>
                        <i class="fa fa-sign-in"></i>
                    </div>
                    <div>
                        Inscription
                    </div>
                </div>
                <div ng-click="hc.selectTab(2)" ng-class="{'selected': hc.modalSelectedIndex == 2}">
                    <div>
                        <i class="fa fa-key"></i>
                    </div>
                    <div>
                        Mot de passe oublié
                    </div>
                </div>
            </div>
            <div class="content" ng-class="'left-' + hc.modalSelectedIndex">
                <div ng-show="hc.modalSelectedIndex == 0">

                    <form ng-submit="hc.logIn()">

                        <input type="email" placeholder="Email" ng-model="hc.user.mail" required/>
                        <input type="password" placeholder="Mot de passe" ng-model="hc.user.password" required/>

                        <button class="login-arrow animated fadeIn" type="submit">
                            <div>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </button>

                        <input type="submit" style="display:none;"/>
                    </form>
                </div>
                <div ng-show="hc.modalSelectedIndex == 1">
                    <form ng-submit="hc.signIn()">

                        <input type="text" placeholder="Prénom" ng-model="hc.user.firstname" required/>
                        <input type="text" placeholder="Nom" ng-model="hc.user.lastname" required/>
                        <input type="email" placeholder="Email" ng-model="hc.user.mail" required/>
                        <input type="password" placeholder="Mot de passe" ng-model="hc.user.password" required/>

                        <button class="login-arrow animated fadeIn" type="submit">
                            <div>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </button>

                        <input type="submit" style="display:none;"/>
                    </form>
                </div>
                <div ng-show="hc.modalSelectedIndex == 2">
                    <form ng-submit="hc.logIn()">

                        <input type="email" placeholder="Email" ng-model="hc.user.mail" required/>

                        <button class="login-arrow animated fadeIn" type="submit">
                            <div>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </button>

                        <input type="submit" style="display:none;"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</rw-dialog>