.user-modal {
    width:300px;
    overflow-x:hidden;
}
.user-modal > div {
    background-color:white;
}
.user-modal > div > .header {
    width:100%;
    display:table;
    border-bottom: 2px solid #e73931;
}

/* Tab container */
.user-modal > div > .header > div {
    height:80px;
    width:33%;
    display:table-cell;
    cursor:pointer;
    transition: 0.3s;
    background-color:white;
    color: rgb(50,50,50);
}
.user-modal > div > .header > div:hover {
    background-color:lightgrey;
}
.user-modal > div > .header > div.selected {
    background-color:#e73931;
    color:white;
}

/* Logo of the tab */
.user-modal > div > .header > div > div:first-child {
    height:80%;
    font-size: 40px;
    text-align:center;
}

.user-modal > div > .header > div > div:first-child > i {
    margin-top:15px;
}

/* text of the tab */
.user-modal > div > .header > div > div:last-child {
    height:20%;
    text-align:center;
    font-size:10px;
    padding-left:5px;
    padding-right:5px;
}

.user-modal > div > .content {
    padding-bottom:0px;
    display:block;
    width:100%;
    position:relative;
    transition: min-height .3s, left .5s ease .3s;
}

.user-modal > div > .content.left-0 {  left: 0%;       min-height:156px;   }
.user-modal > div > .content.left-1 {  left: -100%;    min-height:281px;   }
.user-modal > div > .content.left-2 {  left: -200%;    min-height:103px;   }

.user-modal > div > .content > div {
    display:block;
    width:300px;
    padding: 10px;
    position:absolute;
}
.user-modal > div > .content > div:nth-child(2) { left:100%; top:0px;}
.user-modal > div > .content > div:nth-child(3) { left:200%; top:0px;}

.user-modal > div > .content > div > form {
    text-align:right;
}

.user-modal > div > .content > div > form > input[type="text"], .user-modal > div > .content > div > form > input[type="email"] {
    margin-bottom:10px;
}

.user-modal > div > .content > div > form > a.submit {
    color:#e73931;
    font-weight:bold;
    padding: 10px 20px;
}
.user-modal > div > .content > div > form > a.submit:hover {
    color:darkred;
}

.user-modal > div > .content > div > form > a.cancel {
    color:darkgrey;
    font-weight:bold;
    padding: 10px 20px;
}
.user-modal > div > .content > div > form > a.cancel:hover {
    color:black;
}

.user-modal > div > .content > div > form > .login-arrow {
    margin-top:4px!important;
    background-color: white;
    width:60px;
    height:60px;
    border-radius:1000000px;
    margin:auto;
    padding:0px;
    border:none;
    display:block;
    margin-bottom: -29px;
    animation-delay: .8s;
    animation-duration: .5s;
}

.user-modal > div > .content > div > form > .login-arrow > div {
    cursor:pointer;
    border:2px #e73931 solid;
    border-radius:10000000px;
    width:50px;
    height:50px;
    text-align:center;
    margin:auto;
    transition:0.3s;
}
.user-modal > div > .content > div > form > .login-arrow > div:hover {
    border-color:black;
}

.user-modal > div > .content > div > form > .login-arrow > div > i {
    margin-top: 11px;
    margin-left:4px;
    font-size:23px;
    color: #e73931;
}

.user-modal > .footer {
    height:30px;
    background: transparent;
}