.btn.primary {  }

.btn.secondary {  }

.btn.success {  }

.btn.error {  }

.btn.info {  }

.btn {
    display:inline-block;
    border-radius: 3px;
    padding: 10px 40px;
    font-size:15px;
    cursor:pointer;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.btn.transparent {
    color: white;
    border: 2px solid;
}

.btn.transparent:hover {
    color: darkred;
}

.btn.plain {
    color: #fff;
    background-color: #e73931;
    padding: 12px 40px;
}

.btn.plain:hover {
    background-color: #D1342C;
}

.btn.plain:active {
    box-shadow: inset 0px -4px 0px #b71710;
}