$primary: #e73931;
$primaryHover: rgb(204, 19, 10);
$primaryAccent: #b71710;
$secondary: #e73931;
$tertiary: #e73931;
$accent: white;

@import './buttons';
@import '../js/components/home/rwSeachSection/rwSearchSection.directive';
@import '../js/components/home/rwDropDown/rwDropDown.directive';
@import '../js/components/dialog/dialog.directive';
@import '../js/components/home/rwUserModal/rwUserModal.directive';
@import '../js/components/app/app';
@import '../js/components/wall/wall';
@import './pace_theme';

* {
  box-sizing: border-box;
  outline: 0px!important;
  font-family: 'Roboto', sans-serif;
}

html {
  width:100%;
  height:100%;
  overflow-x: hidden;
}

body {
  height:100%;
  > div[ui-view] {
    height:100%;
  }
}

input[type="text"].input, input[type="password"].input, input[type="email"].input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0px;

  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus.input, input[type="password"]:focus.input, input[type="email"].input:focus {
  outline: none;
  border: solid 5px #969696;
}