.btn {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 40px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s; }

.btn.transparent {
  color: white;
  border: 2px solid; }

.btn.transparent:hover {
  color: #e73931; }

.btn.plain {
  color: white;
  background-color: #e73931;
  padding: 12px 40px; }

.btn.plain:hover {
  background-color: #cc130a; }

.btn.plain:active {
  box-shadow: inset 0px -4px 0px #b71710; }

div[rw-search-section] {
  padding: 20px 40px; }

div[rw-search-section] .top-bar {
  z-index: 3;
  position: absolute;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  left: 0px; }

div[rw-search-section] .top-bar > a.btn {
  float: right;
  margin-left: 10px; }

div[rw-search-section] > .container {
  z-index: 3;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

div[rw-search-section] > .container > h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center; }

div[rw-search-section] > .container > h1 > span {
  display: block;
  width: 150px;
  height: 1px;
  background: #b71710;
  margin: 40px auto;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #ffffff;
  line-height: 36px; }

div[rw-search-section] > .container > span {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  line-height: 36px; }

div[rw-search-section] > .container > div.search {
  margin: 40px auto; }

div[rw-search-section] > .container > div.search > div {
  display: inline-block; }

div[rw-search-section] > .container > div.search > div > input {
  height: 55px;
  border: 0px;
  border-radius: 3px;
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 20px; }

div[rw-search-section] > .container > div.search > a.btn {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 19px;
  padding-bottom: 18px;
  margin-left: 20px; }

div[rw-search-section] .add-opacity {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../img/keyboard.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

div[rw-search-section] .add-opacity-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7); }

@media (min-width: 874px) {
  div[rw-search-section] > .container > div.search > div[rw-drop-down] {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -2.5px; }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] .selected {
    border-top-left-radius: 0px; }
  div[rw-search-section] > .container > div.search > div > input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 450px; } }

@media (min-width: 700px) and (max-width: 874px) {
  div[rw-search-section] > .container > div.search > div[rw-drop-down] {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: -2.5px;
    transform: translate(0, -1px); }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] .selected {
    border-top-left-radius: 0px; }
  div[rw-search-section] > .container > div.search > div > input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 277px; } }

@media (min-width: 500px) and (max-width: 700px) {
  div[rw-search-section] > .container > div.search > div:first-child {
    display: block; }
  div[rw-search-section] > .container > div.search > div:first-child > input {
    width: 100%;
    margin-bottom: 20px; }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] {
    width: calc(100% - 192px); }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] > div {
    width: 100%; }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] > div.hidden {
    width: calc(100% - 192px); } }

@media (max-width: 500px) {
  div[rw-search-section] > .container > div.search > div {
    display: block; }
  div[rw-search-section] > .container > div.search > div:first-child > input {
    width: 100%;
    margin-bottom: 20px; }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] {
    width: 100%;
    margin-bottom: 20px; }
  div[rw-search-section] > .container > div.search > div[rw-drop-down] > div.hidden {
    width: 100%;
    z-index: 3; }
  div[rw-search-section] > .container > div.search > a.btn {
    width: 100%;
    margin-left: 0px; }
  div[rw-search-section] > .container > h1 {
    font-size: 45px; } }

@media (max-width: 450px) {
  div[rw-search-section] > .container > h1 {
    font-size: 27px; }
  div[rw-search-section] > .container > span {
    font-size: 18px; }
  div[rw-search-section] > .container > h1 > span {
    margin: 20px auto;
    line-height: 36px; }
  div[rw-search-section] > .container > div.search {
    margin: 18px auto; } }

div[rw-drop-down] {
  width: 150px;
  display: inline-block;
  background-color: white;
  text-align: left;
  border-radius: 3px;
  transition: .3s;
  color: #969696; }

div[rw-drop-down] .selected {
  border-radius: 3px; }

div[rw-drop-down] .selected.toggled {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

div[rw-drop-down] .toggled {
  background-color: #e73931 !important;
  color: white;
  transition: .3s; }

div[rw-drop-down] .toggled:hover {
  background-color: #D1342C !important; }

div[rw-drop-down] .selected:hover, div[rw-drop-down] .hidden > div:hover {
  background-color: #e6e6e6; }

div[rw-drop-down] .selected, div[rw-drop-down] .hidden > div {
  height: 55px;
  font-size: 16px;
  line-height: 55px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px; }

div[rw-drop-down] .hidden > div:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

div[rw-drop-down] .hidden {
  position: absolute;
  width: 150px;
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

div[rw-drop-down] .selected > span {
  float: right; }

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  border-radius: 2px;
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%); }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

.my-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideInTop {
  from {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    visibility: visible; }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

@keyframes slideInTop {
  from {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    visibility: visible; }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

.slideInTop {
  -webkit-animation-name: slideInTop;
  animation-name: slideInTop; }

.close-modal {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #323232;
  background-color: white;
  border: #323232 solid 2px;
  border-radius: 100000px;
  right: 0px;
  position: absolute;
  margin-top: -15px;
  margin-right: -15px;
  cursor: pointer;
  padding-top: 3px; }

.user-modal {
  width: 300px;
  overflow: hidden; }

.user-modal > div {
  background-color: white; }

.user-modal > div > .header {
  width: 100%;
  display: table;
  border-bottom: 2px solid #e73931; }

/* Tab container */
.user-modal > div > .header > div {
  height: 80px;
  width: 33%;
  display: table-cell;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
  color: #323232; }

.user-modal > div > .header > div:hover {
  background-color: lightgrey; }

.user-modal > div > .header > div.selected {
  background-color: #e73931;
  color: white; }

/* Logo of the tab */
.user-modal > div > .header > div > div:first-child {
  height: 80%;
  font-size: 40px;
  text-align: center; }

.user-modal > div > .header > div > div:first-child > i {
  margin-top: 15px; }

/* text of the tab */
.user-modal > div > .header > div > div:last-child {
  height: 20%;
  text-align: center;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px; }

.user-modal > div > .content {
  padding-bottom: 0px;
  display: block;
  width: 100%;
  position: relative;
  transition: min-height .3s, left .5s ease .3s; }

.user-modal > div > .content.left-0 {
  left: 0%;
  min-height: 156px; }

.user-modal > div > .content.left-1 {
  left: -100%;
  min-height: 281px; }

.user-modal > div > .content.left-2 {
  left: -200%;
  min-height: 103px; }

.user-modal > div > .content > div {
  display: block;
  width: 300px;
  padding: 10px;
  position: absolute; }

.user-modal > div > .content > div:nth-child(2) {
  left: 100%;
  top: 0px; }

.user-modal > div > .content > div:nth-child(3) {
  left: 200%;
  top: 0px; }

.user-modal > div > .content > div > form {
  text-align: right; }

.user-modal > div > .content > div > form > input[type="text"], .user-modal > div > .content > div > form > input[type="email"] {
  margin-bottom: 10px; }

.user-modal > div > .content > div > form > a.submit {
  color: #e73931;
  font-weight: bold;
  padding: 10px 20px; }

.user-modal > div > .content > div > form > a.submit:hover {
  color: darkred; }

.user-modal > div > .content > div > form > a.cancel {
  color: darkgrey;
  font-weight: bold;
  padding: 10px 20px; }

.user-modal > div > .content > div > form > a.cancel:hover {
  color: black; }

.user-modal > div > .content > div > form > .login-arrow {
  margin-top: 4px !important;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 1000000px;
  margin: auto;
  padding: 0px;
  border: none;
  display: block;
  margin-bottom: -29px;
  animation-delay: .8s;
  animation-duration: .5s; }

.user-modal > div > .content > div > form > .login-arrow > div {
  cursor: pointer;
  border: 2px #e73931 solid;
  border-radius: 10000000px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
  transition: 0.3s; }

.user-modal > div > .content > div > form > .login-arrow > div:hover {
  border-color: #b71710; }

.user-modal > div > .content > div > form > .login-arrow > div:hover > i {
  color: #b71710;
  transition: 0.3s; }

.user-modal > div > .content > div > form > .login-arrow > div > i {
  margin-top: 11px;
  margin-left: 4px;
  font-size: 23px;
  color: #e73931; }

.user-modal > .footer {
  height: 32px;
  background: transparent; }

#main {
  background: url(../img/6_150.jpg);
  background-size: 200px 200px; }
  #main .navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 50px;
    padding-left: 80px;
    padding-right: 80px;
    background: #e73931; }
    #main .navbar .logo {
      width: 100px;
      float: left;
      height: 100%;
      color: white;
      line-height: 50px; }
    #main .navbar .search {
      width: 284px;
      float: right; }
      #main .navbar .search input {
        width: 250px;
        float: right;
        height: 35px;
        border: 0px;
        border-radius: 2px;
        margin-top: 7.5px;
        color: #8c8c8c;
        font-size: 18px;
        font-weight: 300;
        padding: 0px 20px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px; }
      #main .navbar .search a.btn {
        float: right;
        padding: 6.5px 9px;
        margin-top: 8px;
        border-left: none;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px; }
      #main .navbar .search a.btn:hover {
        color: white; }
  #main div[ui-view] {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px; }

#wall .content {
  display: table;
  width: 100%; }
  #wall .content > .left-col {
    display: table-cell;
    width: 235px;
    background: red; }
  #wall .content > .middle-col {
    background: blue;
    display: table-cell; }
    #wall .content > .middle-col .ranking > div:nth-child(1) .rank {
      background-position-y: 20px;
      background: url(../img/rw-crown-gold.png);
      background-repeat: no-repeat;
      background-size: 70px 70px; }
    #wall .content > .middle-col .ranking > div:nth-child(2) .rank {
      background: url(../img/rw-crown-silver.png);
      background-repeat: no-repeat;
      background-size: 70px 70px; }
    #wall .content > .middle-col .ranking > div:nth-child(3) .rank {
      background: url(../img/rw-crown-bronze.png);
      background-repeat: no-repeat;
      background-size: 70px 70px; }
    #wall .content > .middle-col .ranking > div {
      display: table;
      width: 100%;
      border-bottom: 2px black solid; }
      #wall .content > .middle-col .ranking > div .rank {
        background-color: white !important;
        display: table-cell;
        width: 70px;
        height: 70px;
        font-size: 34px;
        text-align: center;
        line-height: 70px;
        font-weight: bold; }
      #wall .content > .middle-col .ranking > div .post-title {
        display: table-cell;
        padding-left: 30px;
        background: green;
        font-size: 24px;
        line-height: 70px; }

* {
  box-sizing: border-box;
  outline: 0px !important;
  font-family: 'Roboto', sans-serif; }

html {
  width: 100%;
  overflow-x: hidden; }

input[type="text"].input, input[type="password"].input, input[type="email"].input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s; }

input[type="text"]:focus.input, input[type="password"]:focus.input, input[type="email"].input:focus {
  outline: none;
  border: solid 5px #969696; }
