@import 'buttons.css';
@import '../js/components/home/rwSeachSection/rwSearchSection.directive.css';
@import '../js/components/home/rwDropDown/rwDropDown.directive.css';
@import '../js/components/dialog/dialog.directive.css';
@import '../js/components/home/rwUserModal/rwUserModal.directive.css';

* {
    box-sizing: border-box;
    outline: 0px!important;
    font-family: 'Roboto', sans-serif;
}

input[type="text"], input[type="password"], input[type="email"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: 0px;

    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    border: solid 5px #969696;
}